
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
   <style>
    body {
        background-image: url("p1bitmap.PNG");
        background-size: cover;
        background-repeat: no-repeat;
         background-attachment: fixed
    }

    .result-row {
        margin-bottom: 10px;
    }
</style>

</head>
<body>

    <h1>Search Results</h1>

    <form action="/search" method="GET">
        <label for="searchBox">Your search results for:</label>
        <input type="text" id="searchBox" name="search" value="{{ defaultSearchText }}">
        <button type="submit">Search</button>
    </form>

    {% for word, urls in result.items() %}
        <div class="result-row">
            <ul>
                {% for url in urls %}
                    <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</body>
</html>

