<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results for "{{ defaultSearchText }}"</h1>
    <ul>
        {% for result in result %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>
</body>
</html>
